<footer class="footer-static-container">
    <div class="container">
        <div class="">
            <div class="footer-static">
                <div class="row">
                    <!-- Footer 1 -->
                    <div class="col-md-4">
                        <div class="footer-static-title">
                            <h3 class="text-logo-footer">Mr Mon Shop</h3>
                        </div>
                        <div class="footer-static-content">
                            <ul>
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    227 Nguyễn Văn Cừ, Phường 4, Quận 5, Tp.HCM
                                </li>
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    413 A Nguyễn Tri Phương, Phường 8, Quận 10, Tp.HCM
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    028 3835 0096
                                </li>
                                <li class="last">
                                    <i class="fa fa-envelope"></i>
                                    shopsp098@gmail.com
                                </li>
                            </ul>

                        </div>
                        <div class="social_block">
                            <div class="block_content">
                                <ul>
                                    <li class="facebook">
                                        <a target="_blank" href="https://www.facebook.com/chipchipshopcom/"></a>
                                    </li>

                                    <li class="google-plus">
                                        <a target="_blank" href="https://www.google.com.vn/?gws_rd=ssl"></a>
                                    </li>

                                    <li class="instagram">
                                        <a target="_blank" href="https://www.instagram.com/chipchipshop_com"></a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Footer 2-->

                    <div class="col-md-4">
                        <div class="footer-static-title">
                            <h3>Danh mục</h3>
                        </div>
                        <div class="footer-static-content ">
                            <ul>
                                <li><a href="/collections/1" title="">Thú bông</a></li>
                                <li><a href="/collections/2" title="">Đồ dùng cá nhân</a></li>
                                <li><a href="/collections/3" title="">Đồ dùng tiện ích</a></li>
                                <li><a href="/collections/4" title="">Đồ chơi</a></li>
                                <li><a href="/collections/5" title="">Truyện tranh</a></li>
                                <li><a href="/collections/6" title="">Quà lưu niệm</a></li>

                            </ul>
                        </div>
                    </div>

                    <!-- Footer 3 -->

                    <div class="col-md-4">
                        <div class="footer-static-title">
                            <h3>Fanpage</h3>
                        </div>

                        <div class="fb-page" data-href="https://www.facebook.com/DoanKhoaLienChiHoi.CNTT.KHTN/" data-width="380"
                            data-hide-cover="false" data-show-facepile="true"></div>

                        <script>
                            jQuery(document).ready(function () {
                                initfb(document, 'script', 'facebook-jssdk');
                            });
                            function initfb(d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id))
                                    return;
                                js = d.createElement(s); js.id = id;
                                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=334341610034299";
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        </script>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>