<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Xác nhận thành công</title>

</head>

<body>
    <% include ../layouts/header %>
    <div class="container">
        <br>
        <hr>

        <div class="card text-center">
            <div class="card-header">
              Xác thực thành công
            </div>
            <div class="card-body">
              <h5 class="card-title">Chúc mừng</h5>
              <p class="card-text">Bạn đã tạo thành công tài khoản tại siêu thị máy tính</p>
              <a href="/" class="btn btn-outline-primary">Trang chủ</a>
              <a href="/signin" class="btn btn-outline-primary">Đăng nhập</a>
            </div>
            <div class="card-footer text-muted">
              
            </div>
          </div>
    </div>
    <!--container.//-->
    <% include ../layouts/footer %>
</body>

</html>